<div class="ImagemCentralInicial">
  <mat-grid-list cols="1"  rowHeight="100%">
    <mat-grid-tile [colspan]=1 [rowspan]=1>
      <mat-card>
        <mat-card-title>Cadastro de Usuarios</mat-card-title>
        <mat-card-content>
          <form [formGroup]="formularioDeCadastroUsuario">
            <mat-form-field appearance="outline">
              <mat-label >Nome</mat-label>
              <input matInput  placeholder="Digite seu Nome" formControlName="nome" required>
              <mat-error *ngIf="formularioDeCadastroUsuario.get('nome').invalid && formularioDeCadastroUsuario.get('nome').touched">Nome obrigatório</mat-error>
            </mat-form-field>
            <div formGroupName="emails">
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput  type="email" id="email" name="email" placeholder="Digite seu Email" formControlName="email" (keyup)="buscarEmail($event)" required>
                <mat-error *ngIf="formularioDeCadastroUsuario.get('emails.email').errors?.required && formularioDeCadastroUsuario.get('emails.email').touched">Email obrigatório</mat-error>
                <mat-error *ngIf="formularioDeCadastroUsuario.get('emails.email').errors?.email && formularioDeCadastroUsuario.get('emails.email').touched">Email Inválido</mat-error>
              </mat-form-field>
              <br>
              <mat-form-field appearance="outline">
                <mat-label>Confirmação de Email</mat-label>
                <input matInput type="email" placeholder="Confirme seu email aqui..." formControlName="ConfirmEmail" required>
                <mat-error *ngIf="formularioDeCadastroUsuario.get('emails.ConfirmEmail').errors?.required && formularioDeCadastroUsuario.get('emails.ConfirmEmail').touched">Campo obrigatório</mat-error>
                <mat-error *ngIf="formularioDeCadastroUsuario.get('emails').invalid && formularioDeCadastroUsuario.get('emails.ConfirmEmail').touched">Emails não podem ser diferentes</mat-error>
              </mat-form-field>
            </div>
            <br>
            <div formGroupName="passwords">
              <mat-form-field appearance="outline">
                <mat-label>Senha</mat-label>
                <input matInput type="password" id="senha" name="senha" placeholder="Digite sua senha" formControlName="senha" required>
                <mat-error *ngIf="formularioDeCadastroUsuario.get('passwords.senha').errors?.required && formularioDeCadastroUsuario.get('passwords.senha').touched">Campo obrigatório</mat-error>
                <mat-error *ngIf="formularioDeCadastroUsuario.get('passwords.senha').errors?.minLength && formularioDeCadastroUsuario.get('passwords.senha').touched">Senha precisa ser maior que 5 caracteres</mat-error>
              </mat-form-field>
              <br>
              <mat-form-field appearance="outline">
                <mat-label>Confirmação de Senha</mat-label>
                <input matInput type="password" id="ConfirmSenha" placeholder="Confirme sua Senha" formControlName="ConfirmSenha" required>
                <mat-error  *ngIf="formularioDeCadastroUsuario.get('passwords').invalid && formularioDeCadastroUsuario.get('passwords.ConfirmSenha').touched">Senhas diferentes </mat-error>
                <mat-error  *ngIf="formularioDeCadastroUsuario.get('passwords.ConfirmSenha').errors?.required && formularioDeCadastroUsuario.get('passwords.ConfirmSenha').touched">Campo obrigatório</mat-error>
              </mat-form-field>
            </div>
            <br>
            <button type="submit" mat-raised-button id="enviar" [disabled]="(formularioDeCadastroUsuario.invalid || validacaoEmail)" (click)="enviarUsuario()">
              Enviar
            </button>
            <br>
            <br>
            <a href="/login" mat-button>Já tenho uma conta</a>
          </form>
        </mat-card-content>
    </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
   
</div>


