<div class="ImagemCentralInicial">
    <div class="row">

        <div class="col-4">

        </div>
        <div class="col-4 CadastroUsuario">
            <div class="card" id="CardCadastro">
                <div class="card-body">
                    <div *ngIf="validUser === true; else elseblock">
                        <form #formPwd="ngForm" appPassword> 
                                <input type="password" class="form-control corInput fontText" placeholder="Digite sua senha"
                                 required
                                 minlength = 6
                                 pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"
                                  [(ngModel)]="pwd"
                                  name="pwd"
                                  #senha="ngModel"/>
                                <p class="errorValidation" *ngIf="senha.errors?.required && senha.touched">Campo Obrigatorio
                                </p>
                                <ng2-password-strength-bar [passwordToCheck]="pwd" 
                                    [barLabel]="barLabel"
                                    [barColors]="myColors">
                                </ng2-password-strength-bar>
                                <br>
                                <input type="password" class="form-control corInput fontText" [(ngModel)]="pwdConfirm"
                                    name="pwdConfirm" #senhaConfirm="ngModel"
                                    placeholder="Digite sua confirmação de senha"  required />
                                    <p class="errorValidation" *ngIf="senhaConfirm.errors?.required && senhaConfirm.touched">Campo Obrigatorio
                                    </p>
                                    <p class="errorValidation" *ngIf="formPwd.errors?.erroConfirmPwd && senhaConfirm.touched">Senhas diferente</p>
                                <br>
                            
                            <button class="btn btn-primary botaoEnviar" [disabled]="!formPwd.valid"
                                 (click)="SubmitPwd(formPwd)">Trocar a
                                senha</button>
                        </form>
                    </div>
                    <ng-template #elseblock>
                        Usuario não validado
                    </ng-template>
                </div>
            </div>

        </div>
    </div>

    <div class="col-4">

    </div>
</div>