.mat-card{
    padding: 45px;
}

.mat-form-field{
    width:212px;
}

.button-center-login{
   margin-left: 75px;
}

.mat-card-title{
    font-size:25px;
    font-weight: 400;
    margin-bottom: 33px;
}