  <div class="ImagemCentralInicial">
  <mat-grid-list cols="1" rowHeight="1:1" rowHeight="600px">
    <mat-grid-tile [colspan]=1 [rowspan]=1>

      <mat-card>
        <div (keyup)="VerifyBoardKey($event)">

          <mat-card-title>
            Acessar
          </mat-card-title>
          <mat-card-content>
            <mat-form-field class="example-full-width">
              <input matInput type="text" class="form-control corInput fontText" id="Usuario" name="usuario"
                placeholder="Digite seu Email" value="">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
              <input matInput type="text" class="form-control corInput fontText" id="Usuario" name="usuario"
                placeholder="Digite seu Email" value="">
            </mat-form-field>
            <br>
          </mat-card-content>
          <mat-card-actions>
            <div class="button-center-login">
            <button mat-raised-button color="primary">Entrar</button>
            </div>
            <br>
            <br>
            <mat-checkbox class="example-margin">Lembrar de Mim</mat-checkbox>
            <br>
            <br>
            <br>
            <a href="/cadastrologin" mat-button>Deseja fazer o
              cadastro?</a>
          </mat-card-actions>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>