.mat-toolbar{
background: #f1f1f1;
-webkit-box-shadow: 1px 4px 15px 2px rgba(125,0,173,0.19);
box-shadow: 1px 4px 15px 2px rgba(125,0,173,0.19);
height: 102px;
margin-bottom: 0.5%;
}

.mat-icon {
color: #7d00ad;
}

.corMenuBorderColor {
  background-color: #ffffff;
  -webkit-box-shadow: 1px 4px 15px 2px rgba(125,0,173,0.19);
  box-shadow: 1px 4px 15px 2px rgba(125,0,173,0.19);
  padding-bottom:29px;
}

.buttonsMenu{
  position: relative;
  left: 104px;
  bottom: 8px;
}

.imagemLogo {
  background: url(/assets/Style/Images/simbolo.png);
  background-repeat:no-repeat;
  background-size:contain;
  padding: 3%;
  position: relative;
  top:8.5%;
  left: 5%;
  bottom: 0%;
}

.configUsuario{
  position: relative;
  left: 102rem;
  top: 1.5rem;
  border-radius: 60%;
  color: #7d00ad;
}
.configUsuario:active{
  position: relative;
  left: 102rem;
  top: 1.5rem;
  border-radius: 60%;
  color: #7d00ad;
  border-color: #7d00ad;
}
.configUsuario:focus{
  position: relative;
  left: 102rem;
  top: 1.5rem;
  border-radius: 60%;
  color: #7d00ad;
  border-color: #7d00ad;
  box-shadow: -2px 5px 5px -4px #7d00ad;
}

.posicaomenu{
  position: absolute;
  left: 99rem;
  top:60px;
}

