
<div class="jumbotron personJubotron">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <!-- <h3 class="display-4 positionTitle personTitle">Olá, {{User.unique_name}}</h3> -->
      <div class="input-group mb-3 positionInputHome">
        <!-- <input type="text" class="form-control inputCustom font-weight-normal" placeholder="Experimente pesquisar por: amor, alegria, salvação."  aria-describedby="button-addon1"> -->
        <div class="input-group-prepend">
          <!-- <button class="btn btn-outline-secondary personbuttonSearch" type="button" id="button-addon1"><i class="fas fa-search"></i> Pesquisar</button> -->
        </div>
      </div>
      <div class="positionVerso">
      <!-- <app-versiculocomponent>
      </app-versiculocomponent> -->
    </div>
    </div>
    <div class="col-4"></div>
  </div>
</div>

<!-- opcoes do sistema --> 
<!-- <div class="row">
  <div class="col-4 d-flex justify-content-center">
    <div class="card TamanhoCard cardCustom">
      <img class="card-img-top"  src="assets/Style/Images/engineer.png" alt="Card image cap">
      <div class="card-body">
        <div class="col text-center">
        <button class="btn btn-primary botao">Criar Pregação</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4 d-flex justify-content-center">
    <div class="card TamanhoCard cardCustom">
      <img class="card-img-top"  src="assets/Style/Images/search.png" alt="Card image cap">
      <div class="card-body">
        <div class="col text-center">
        <button class="btn btn-primary botao">Descobrir Mensagens</button>
      </div>
      </div>
    </div>
  </div>
  <div class="col-4 d-flex justify-content-center">
    <div class="card TamanhoCard cardCustom">
      <img class="card-img-top"  src="assets/Style/Images/Thinks.png" alt="Card image cap">
      <div class="card-body">
        <div class="col text-center">
        <button class="btn btn-primary botao" (click)="goToSettings()">Configuração da conta</button>
      </div>
      </div>
    </div>
  </div>
</div> -->
