<div class="jumbotron personJubotron">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <h1 class="display-4 positionTitle personTitle">Hello, world!</h1>
      <div class="input-group mb-3 positionInputHome">
        <input type="text" class="form-control inputCustom font-weight-normal" placeholder="Experimente pesquisar por: amor, alegria, salvação."  aria-describedby="button-addon1">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary personbuttonSearch" type="button" id="button-addon1"><i class="fas fa-search"></i> Pesquisar</button>
        </div>
      </div>
      <div class="positionVerso">
      <h5 class="personTitle">
        "Versiculo"
      </h5>
    </div>
    </div>
    <div class="col-4"></div>
  </div>
</div>
