<div class="jumbotron personJubotron">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <h1 class="display-4">Hello, world!</h1>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Experimente pesquisar por: amor, alegria, salvação."  aria-describedby="button-addon1">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary" type="button" id="button-addon1"><i class="fas fa-search"></i> Pesquisar</button>
        </div>
      </div>
    </div>
    <div class="col-4"></div>
  </div>
</div>
