<div class="card text-center">
  <div class="card-header">
    Opções
  </div>
  <div class="card-body">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" (mouseover)="ChangeColor($event.target)" (mouseout)="ChangeColor($event.target)">
      <a class="nav-link show fade" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home">Lista de Usuarios</a>
      <a class="nav-link show fade" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" >Atualização de Perfil de Usuario</a>
      <a class="nav-link show fade" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" >Alteração de Senha</a>
      <a class="nav-link show fade" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings">Logout Talked</a>
    </div>
  </div>
  <div class="card-footer text-muted">
    TalkedToMe
  </div>
</div>