You can add global styles to this file, and also import other style files

/* Provide sufficient contrast against white background */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
code {
  color: #e01a76;
}

.ImagemCentralInicial {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: url(app/Style/Images/LoginCad.png) no-repeat;
  background-position: 30% 45%;
  background-size: cover;
}

 .errorValidation {
  margin-bottom:4px;
  margin-left:4px;
  color: #f34336;
  font-size: 10.5px;
  font-weight: 700;
  word-break:break-word;
}


