<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <input type="text" class="form-control corInput fontText" placeholder="Pesquisar usuario"
          formControlName="ConfirmEmail" />
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Email</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of ListUser; let i = index" [attr.data-index]="i">
          <th scope="row">{{i+1}}</th>
          <td>{{usuario.nome}}</td>
          <td>{{usuario.email}}</td>
          <td><button class="btn btn-info">Opções</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <nav aria-label="Navegação de página exemplo">
    <ul class="pagination justify-content-center">
    <li class="page-item"><button class="page-link" href="#" (click)="listUser()">Anterior</button></li>
    <ul class="pagination justify-content-center" *ngFor="let item of Pagination">
      <li class="page-item"><button class="page-link" >{{item}}</button></li>
    </ul>
    <li class="page-item"><button class="page-link" href="#">Próximo</button></li>
  </ul>
  </nav>
</div>